html:{
/*	overflow-y: scroll;*/

}
html,body{width:100%;/*height:100%;*/  overflow-y: scroll;
}
body{
   padding:0px;
   margin:0px;
   font-family:'Open Sans',sans-serif;
   font-size:16px;
 -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; /* */

}
.taskArea{
    width:100%;
    height:100%;
    position:absolute;
    left:50%;
    top:0px;
}
.finishDiv{
    -moz-box-shadow:0 0 50px #0198B3;
    -webkit-box-shadow:0 0 50px #0198B3;
    box-shadow:inset 0 0 50px #0198B3;
    width:100%;
    height:100%;
    z-index:4;
    position:absolute;
}
.showhint .draggable{
	z-index:11;
}
.overlay{display:none;position:absolute;top:0px;left:0px;width:100%;height:100%;background:rgba(255,255,255,.8);}
.showhint  .overlay{
	position:absolute;
	top:0px;left:0px;
	width:100%;
	height:100%;
	z-index:9;
	display:block;
}

.overlayBg{
	position:absolute;
	top:0px;left:0px;
	width:100%;
	height:100%;
	opacity:0.75;
	background-color:#000000;
	z-index:-1;
}

#overlayHint{
    position:absolute;
    left:6px;
    top:395px;/*text-align:center;*/
    width:100%;
    color:#FFFFFF;
    background:url(question.png) left top no-repeat;
    background-size:auto 100%;
    height:30px;
    padding-top:5px;
    padding-left:50px;
}
#hintDiv{
	color:#000000;
}
.defaultPlace{
    z-index:1;
    position:absolute;
    text-align:center;
}
.draggable{
    cursor: url(grab.png), pointer;
    /*font-size:16px;*/
    z-index:4;
    position:absolute;
    text-align:center;
    background:#ffffff no-repeat;
    border:#0096a6 1px solid;
	transform: rotate(0deg);
	/*text-transform:lowercase;*/
	background-size:100%;

}
.draggable.in-the-droppable{z-index:3;}
.black .draggable{
    border:#0096a6 2px solid;
    opacity:0.8;
}
.in-the-droppable{
	transition: all 0.2s linear 0s;
}
.draggable.inDroppableRight{border-color:#808080;}
.draggable:hover{border-color:#006F82}
.shadow{
    -webkit-box-shadow:3px 3px 4px rgba(0, 0, 0, 0.3);
    -moz-box-shadow:3px 3px 4px rgba(0, 0, 0, 0.3);
    box-shadow:3px 3px 4px rgba(0, 0, 0, 0.3);
}
.shadow.ui-draggable-dragging,.shadow:focus{
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none;
}
.droppable{
    float: right; 
    width: 94px;
    height: 26px;
    border: 1px solid #999;
    position:absolute;
    z-index:2;
    /*background:#ffe1d2 no-repeat;*//*#FFE1CC;*/
    background-size:contain;
}

.no-borderimage .droppable  {
    border-image:none;
    border:#999999 1px dotted;
}

.borderimage .droppable  {
    border-image:url('border-image-grey.png') 5 repeat;
    border-style:dotted;
}

.textEditBox{
    position:absolute;
    z-index:2;
    border: #000000 2px solid;
    background: rgba(0, 0, 0, 0);
    color: #000000;
}
.dropdown{
    position:absolute;
    z-index:2;
    /*border: #000000 1px solid;
    background: rgba(0, 0, 0, 0);
    color: #000000;*/
}
.select-wrap{
    position:absolute;
}
.black .textEditBox
{
    border: #ffffff 1px solid;
    color: #ffffff
}

.showhint .textEditBox{
	z-index:11;
}

.black .droppable {
    background-color:transparent;
	background-size:contain;
}

.no-borderimage .black .droppable {
    border-image:none;
    border:#999999 2px dotted;
}

.borderimage .black .droppable {
    border-image:url('border-image-white.png') 5 repeat;
    border-style:dotted;
}

.droppable.withDraggable{
    /*background-color:#ededed;
    border:#0096a6 1px solid;*/
}
.black .droppable.withDraggable {/*border:#0096a6 2px solid;*/}
.droppable.emptyWrong{
    background-color:#ffe1d2;
}
.image{
    position:absolute;
    z-index:0;
    background-size:contain;
    background-repeat:no-repeat;
}
.draggable div, .image div{
    display:table-cell;
    vertical-align:middle;
    text-align:center;
}
.image div{text-align:left;position: relative;}
.ui-draggable-dragging{z-index:5!important;cursor:url(grabbing.png),pointer!important;}
.ui-draggable.active, .ui-draggable.active div{cursor:url(grabbing.png),pointer!important;}

.hintButton,.checkButton,.overlayBack,#backButton{
	position:absolute;
	width:125px;
	height:35px;
	text-align:center;
	background-repeat:no-repeat;
	background-size: 100%;
}
.hintButton{
	left:0.75%;
	top:395px;
	background-image:url(button-hint.png);
}
.checkButton{
	background-image:url(button-check.png);
	top:395px;
	right:0.75%;
}
.overlayBack{
    /*background-color:#0198B3;*/
    color:#E3FAFF;
    top:15px;
    left:15px;
    width:200px;
    padding-top:10px;
    background-color:#0096a6;
    border-radius:5px;

}
.replayButton{
	right:0.75%;
	width:27px;
	height:30px;
	position:absolute;
	background-image:url(reload.png);
	background-size:100%;
	top:5px;
	z-index:5;
}
.finalImg{
    z-index:99999999;
    position:absolute;
    background-size:contain;
    background-repeat:no-repeat;
}
.rocked{
	transition: all 0.2s linear 0s;
	transform: rotate(45deg);
}

.textEditBox.correct,.dropdown.correct{
    border-width: 2px;
    border-color: #00ff00;
}

.textEditBox.error,.dropdown.error{
    border-width: 2px;
    border-color: #ff0000;
}
.checkbox{}
/*.checkbox .correct,.checkbox.correct,.radiobutton.correct,.radiobutton .correct{outline: 2px solid #00ff00}*/
/*.checkbox .error,.checkbox.error,.radiobutton.error,.radiobutton .error{outline: 2px solid #ff0000}*/
.darkButton{
    border:#0096A6 1px solid;
    background-color:#0096A6;
    color:#ffffff;
}
.darkButton:hover{
    border-color:#007D8F;
    background-color:#007D8F;
}
.lightButton{
    border:#0096A6 1px solid;
    background-color:#ffffff;
    color:#0096A6;
}
.transparentButton{
    border:#0096A6 1px solid;
    background:transparent;
    color:#0096A6;
}
.lightButton:hover{
    border-color:#007D8F;
    color:#007D8F;
}
.buttonText{
    position:relative;
    display:inline;
    white-space: nowrap;
    font-family:'Open Sans';
    text-align:center;
    background:left center no-repeat;
    background-size:auto 80%;
}
.button,.check-button{
    position:absolute;
    overflow:hidden;
}
.ui-draggable-dragging{z-index:4;}
.reshuffleRow{
    position:absolute;
    border:rgba(0, 0, 0, 0) 1px solid;
    z-index:2;
}

.showhint .reshuffleRow{
	z-index:11;
}

.imageContainer{
    margin: 0 auto;
}

.imageContainer img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
}

.reshuffleRow.correct{
    border-width: 1px;
    border-color: #00ff00;
    border-style: solid;
}

.reshuffleRow.error{
    border-width: 1px;
    border-color: #ff0000;
    border-style: solid;
}

.absoluteBlock{
	z-index:1;
    position:absolute;
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center center;
}
.absoluteBlock .variant{
    position:/*relative;*/absolute;
    float:left;
}
.variant{border:transparent 1px solid;background-color:#F3F3F3;background-size:contain;background-repeat:no-repeat;background-position:center center;text-align:center}
.variant:hover{background-color:#E6E6E6}
.selected{/*border:#00E1FF 1px solid*/}
.right{border-color:#01E699 !important}
.wrong{border-color:#FF5500 !important}
.wrong_unchecked{border-color:#FF5500 !important}
.icon {background:no-repeat;background-size:100%;}
.selected .icon{background-image:url(selected.svg);}
/*пришлось исправить тут, слишком много менять в test_select.js*/
/*.right .icon{background-image:url(right.png);}
.wrong .icon{background-image:url(wrong.png);}
.wrong_unchecked .icon{background-image:url(wrong-unchecked.png);}*/
.icon{position:absolute;bottom:0px;right:0px;}
#oneTargetAnswersTarget{
    border:red 1px solid;
    position:absolute;
}
#overlayContent{
	text-align:center;
	background-color:#ffffff;
}
.question-mark{z-index:4;}
.help{
    z-index:4;
    position: absolute;
    width: 16px;
    height: 16px;
    top: -22px;
    right: 0px;
    border-radius: 8px;
    border: gray 1px solid;
    color: gray;
    font-size: 10px;
    display: none;
    text-align:center;
}
#hintContainer {
    position: absolute;
    padding: 5px;
    background: #F5E36F;
    z-index: 5;
    margin-left: -25px;
    margin-top: -20px;
    border-radius: 10px;
    text-align:center;
}
#reloadBlock{
    position:absolute;
    z-index:5;
}
#reload{
	background-image:url(reload.png);
    background-size:100%;
    background-repeat:no-repeat;
    position:relative;
    right:0px;
    background-position:center center;
}
#reload:hover{
	background-image:url(reload-hover.png);
}
#reloadCancel{
    z-index:3;
    color:black;/*#026576;*/
    /*width:100%;text-align:right;*/
}
#reloadCancel span{
    text-decoration:underline;/**/
	color:#009EA8;
	cursor:pointer;
}
.in-the-droppable .answerText1{
	display:none;
}
.buttonPopup {
	z-index:5;
	background-color:#ffffff;
	text-align:center;
}
.checkbox,.radiobutton,.label{
	z-index:1;
    position:absolute;
    vertical-align:center;
}
#steps {
    position: fixed;/*absolute;*/
    top: 0px;
    right: 0px;
}
#wrongText{
    /*position:fixed;
    bottom:0px;
    left:0px;
    width:100%;
    text-align:center;*/
}
.currentStep, .newStep, .rightStep, .wrongStep{
    width:20px;
    height:20px;
    border-radius:10px;
    text-align:center;
}
.currentStep{border:#000000 1px solid;color:#000000}
.newStep{border:#d6d6d6 1px solid;color:#d6d6d6}
.rightStep{border:#d6d6d6 1px solid;color:#d6d6d6;background-color:#D2FFF1}
.wrongStep{border:#d6d6d6 1px solid;color:#d6d6d6;background-color:#FFE1D2}
.innerButtonDiv{
    display:table-cell;
    vertical-align:middle;
    text-align:center;

}
#genetics{
	position:absolute;
	
	
}
label.error{color:#FF5722}
label.correct{color:#008000}
.genetics-figure,.genetics-letter,.genetics-dna-figure,.genetics-dna-letter{
	text-align:center;
	position:absolute;
}
.genetics-dna-figure,.genetics-dna-letter{
	border:2px solid #c0c0c0;
}
.genetics-vertical-line{
	position:absolute;
	border-left: 2px solid #c0c0c0;
	width:0px;
}
.genetics-horizontal-line{
	position:absolute;
	border-top: 2px solid #c0c0c0;
	height:0px;
}
.genetics-editable,.genetics-editable:focus{
	display:table-cell;
	text-align:center;
	vertical-align:middle;
	border:none;
	outline:0px solid transparent;
}
.genetics-draggable{
	position:absolute;
	bottom:0px;
	border: 2px solid #c0c0c0;
	cursor:pointer;
	z-index:1;
}

.genetics-draggable div{
	display:table-cell;
	text-align:center;
	vertical-align:middle;
}
.genetics-draggable.genetics-in-the-droppable{
	border:none;
	padding:2px;
}