body {
	/*font-size: 15px;*/
	/*margin: 0 50px 250px 10px;
	max-width: 1100px;*/
}
[class^="text"], select {
	font-size: 1em;
}
body, [class^="text"], select {
	font-family: 'Open Sans';
	line-height: 1.32;
}
h1 {
	font-size: 2.2em;
	font-weight: 600;
	margin: 1.5em 0 .45em;
	padding: 0;
}
h2 {
	font-size: 1.5em;
	font-weight: 400;
	margin: 1.5em 0 .4em;
	padding: 0;
}
.bold {
	font-weight: 600;
}
a {
	color: #0096a6;
}
a:hover {
	color: #00767C;
}
a:visited {
	color: #6D57A3;
}

/* Вспомогательные стили, в шаблоне не нужные */

td {
	vertical-align: top;
	/*padding: 6px 20px 6px 0;*/
}
.wide-td {
	/*padding-right: 40px;*/
}
.comment {
	font-size: 0.85em;
	margin: 2px 0 7px 0;
}
p {
	margin: .6em 0 0;
	padding: 0;
}

/* ОСНОВНЫЕ ЭЛЕМЕНТЫ */
/* Общие обводки */

[class*="-wrong"] {
	border: 2px solid #FF5722 !important;
}
[class*="-right"] {
	border: 2px solid #8BC34A !important;
}
[class*="-selected"] {
	border: 2px solid #00B8C1 !important;
}

/* Дрэг-н-дроп и выбор */


[class^="draggable"], [class^="clickable"] {
	/*position: relative;
	display: inline-block;*/
	text-align: center;
}
[class^="draggable"] {
	/*position: relative;
	display: inline-block;*/
	box-shadow: 0 1px 4px rgba(0,0,0,.4);
	cursor: -webkit-grab;
	cursor: -moz-grab;
	cursor: -o-grab;
	cursor: grab;
	width: 120px; /* Ширина ярлыка задается в каждом задании своя */
}
[class^="clickable"] {
	cursor: pointer;
	background: #eee;
}
.in-the-droppable {
	box-shadow: none !important;
	border: 1px solid #eee;
}
.draggable-hover, .draggable:hover {
	box-shadow: 0 4px 13px rgba(0,0,0,.4) !important;
}
.draggable-grabbing {
	box-shadow: 0 4px 13px rgba(0,0,0,.4) !important;
	cursor: grabbing;
	cursor: -webkit-grabbing;
	cursor: -moz-grabbing;
	cursor: -o-grabbing;
	cursor: grabbing;
}
.clickable-hover:after, [class^="clickable"]:hover:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.07);
}
.check {
	z-index: 1;
	position: absolute;
	bottom: 2px;
	right: 2px;
	width: 20px;
}
[class^="draggable"] img, [class^="clickable"] img {
	width: 100%;
	vertical-align: bottom;
}
[class^="draggable"] .word, .one .word, [class^="draggable"] .sentence, .one .sentence  {
	/*padding: 0.45em 1em 0.6em;*/
}
.sentence {
	line-height: 1.2;
	text-align: left;
}
.many .word {
	/*padding: 0.45em 2em 0.6em;*/
}
.many .sentence {
	margin: 0.45em 2em 0.6em 1em;
}

/* Ловушка */

.droppable {
	/*display: inline-block;*/
	width: 100px;
	height: 36px;
	border: 2px solid;
	border-image: url('border-grey.png') 2 repeat;
}
#droppable-wrong {
	border-image: url('border-red.png') 2 repeat;
}
#droppable-right {
	border-image: url('border-green.png') 2 repeat;
}

/* Текстовое поле и выпадающий список */

[class^="text"], [class^="select-wrap"] {
	border: 2px solid #b7b7b7;
	box-shadow: inset 0 2px 3px -1px rgba(0,0,0,.4);
	/*padding: 0.45em 0.6em 0.6em;*/
	color: inherit;
}
[class^="text"] {
	outline: none;
}
[class^="select-wrap"] {
	/*padding-top: 0.35em;*/
	width: 140px;
	overflow: hidden; 
	background: url(list-black.svg) no-repeat right #fff;
}
select {
	outline: none;
	padding: 0;
	border: 0;
	background: transparent;
	width: 168px;
	color: inherit;
}
/* Раскрывшийся список должен, конечно, совпадать по положению
и ширине с полем — мне не удалось так сделать.
Желательно, чтобы вместо синего в нём использовался голубой. */
.text-selected, .select-wrap-selected, .text-hover, .select-wrap-hover, [class^="text"]:hover, [class^="select-wrap"]:hover {
	outline: none;
	box-shadow: inset 0 1px 6px rgba(0,0,0,.4);
}

/* ДРУГИЕ ЭЛЕМЕНТЫ */

.task {
	width: 750px;
	margin-bottom: 20px;
}
.button-img {
	height: 1.1em;
	margin: 0.1em 0.5em 0 0;
	float: left;
}
#reload-button:hover {
	box-shadow: 0 4px 18px 2px rgba(0,0,0,.4);
}
.reload-undo {
	position: absolute;
	top: 0;
	right: 25%;
	width: 46%;
	border-radius: 4px;
	box-shadow: 0 6px 18px 2px rgba(0,0,0,.4);
	/*padding: 0.625em 2% 0.6875em;*/
	text-align: center;
	font-size: 0.9em;
	z-index: 1;
	background: #fff;
}

/* Кнопка проверки */

.check-button {
	display: inline-block;
	background: #0096a6;
	
	box-shadow: 0 4px 13px rgba(0,0,0,.4);
	border-radius: 4px;
	color: #fff;
	font-size: 0.9em;
	z-index: 1;/*padding: 0.625em 1.125em 0.6875em;*/
}
.check-button:hover {
	cursor: pointer;
	box-shadow: 0 4px 18px 2px rgba(0,0,0,.4);
	background: #009EA8;
}
.check-button:active {
	outline: none;
}
.result {
	position: absolute;
	bottom: 0;
	left: 25%;
	width: 50%;
	text-align: center;
	border-radius: 4px;
	box-shadow: 0 1px 4px rgba(0,0,0,.4);
	font-weight: 800;
}
.good {
	font-size: 1.2em;
	padding: 0.3em 25% 0.35em 0;
	color: #8BC34A;
}
.bad {
	font-size: 1em;
	/*padding: 0.47em 25% 0.55em 0;*/
	padding: 0.47em 25% 0.4em 0;
	color: #FF5722;
}

/* Кнопки подсказки */

.button {
	border: 1px solid #0096a6;
	/*background: transparent;*/
	display: inline-block;
	/*padding: 0.625em 1.125em 0.6875em;*/
	box-shadow: 0 4px 13px rgba(0,0,0,.4);
	border-radius: 4px;
	color: #0096a6;
	font-size: 0.9em;
}
.button:hover {
	cursor: pointer;
	box-shadow: 0 4px 18px 2px rgba(0,0,0,.4);
}
#show-hints {
	display: inline-block;
	padding: 0.625em 1.125em 0.6875em 0;
	color: #ababab;
	font-size: 0.9em;
	cursor: pointer;
}
#show-hints-active {
	display: inline-block;
	padding: 0.625em 1.125em 0.6875em 0;
	color: #0096a6;
	font-size: 0.9em;
	cursor: pointer;
}
#reload-button {
	width: 2em;
	height: 2em;
	position: absolute;
	top: 0;
	right: 0;
	border: 1px solid #0096a6;
	background: url(reload.svg) no-repeat;
	box-shadow: 0 4px 13px rgba(0,0,0,.4);
	border-radius: 1em;
	cursor: pointer;
}
.hint-small {
	position: absolute;
	bottom: 0;
	right: 20%;
	width: 58%;
	border-radius: 4px;
	box-shadow: 0 1px 4px rgba(0,0,0,.4);
	/*padding: 0.625em 0 0.6875em 17%;*/
	font-size: 0.9em;
}
.question-mark {
	font-weight: 800;
	font-size: 0.9em;
	color: #0096a6;
	text-align: center;
	display: inline-block;
	/*padding: .1em 0 0 0;*/
	width: 1.5em;
	height: 1.4em;
	background: #fff;
	border: 1px solid #0096a6;
	box-shadow: 0 4px 13px rgba(0,0,0,.4);
	border-radius: .75em;
	cursor: pointer;
/*	z-index: 1;*/
	position: absolute;
	top: -.6em;
	right: -.75em;
}

/* Объёмная подсказка во всплывающем окне */

.popup {
	position: absolute;
	bottom: 10%;
	left: 10%;
	width: 80%;
	height: 80%;
	box-shadow: 2px 8px 18px 4px rgba(0,0,0,.4);
}
.popup-wrap {
	z-index: 2;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(255,255,255,.8);
	/*Если задание тёмное, то и эта штука должна быть тёмной.*/
}
#close {
	position: absolute;
	top: 10%;
	left: 91.3%;
	width: 1.8em;
	height: 1.8em;
	cursor: pointer;
	border: 1px solid #0096a6;
	background: url(close.svg) no-repeat;
	box-shadow: 0 4px 13px rgba(0,0,0,.4);
	border-radius: 1em;
}
#close:hover {
	box-shadow: 0 6px 18px 2px rgba(0,0,0,.4);
}

/* Изменения на тёмном фоне и для разных возрастов */

.children {
	/*font-size: 18px;*/
}
.adult {
	/*font-size: 16px;*/
}
.dark-background {
/*	padding: 10px 15px;*/
	color: white;
}
.white-background {
/*	padding: 10px 15px;*/
}
.wrap {
	position:relative;
	height: 100%;
	width: 100%;
}
/*Это уже вопрос вёрстки сайта, но упомяну: задания с тёмным фоном будут
смотреться лучше, если под них можно будет менять цвет всей страницы.*/
.dark-background .draggable {
	background: rgba(242,242,242,.2);
}
.dark-background .clickable {
	background: rgba(242,242,242,.2);
}
.dark-background .text {
	background: transparent;
	border: 1px solid white;
}
.dark-background .select-wrap {
	background: url(list-white.svg) no-repeat right transparent;
	border: 2px solid #b7b7b7;
}